<div class="container">
    <div class="row">
        <form class="col m6 offset-m3 l8 offset-l2">
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" class="datepicker" id="date">
                    <label for="date">Date</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">access_time</i>
                    <input type="text" class="timepicker" id="time">
                    <label for="time">Time</label>
                </div>
            </div>
                         
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">person_pin</i>
                    <input id="origin" type="text" class="validate">
                    <label for="origin">Origin</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">pin_drop</i>
                    <input id="destination" type="text" class="validate">
                    <label for="destination">Destination</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field inline">
                    <i class="material-icons prefix">directions_car</i>
                    <input id="carModel" type="text" class="validate">
                    <label for="carModel">Car Model</label>
                </div>
                <div class="input-field inline">
                    <i class="material-icons prefix">airline_seat_recline_normal</i>
                    <input id="carNumSeats" type="number" class="validate">
                    <label for="carNumSeats">Available Seats</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">textsms</i>
                    <textarea id="rideDescription" class="materialize-textarea"></textarea>
                    <label for="rideDescription">Ride Description</label>
                </div>
            </div>

            {{!-- TODO: validate currency input format --}}
            <div class="row">
                <div class="input-field">
                    <i class="material-icons prefix">attach_money</i>
                    <input id="price" type="number" class="validate" step="0.01">
                    <label for="price">Price per seat</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">Create Ride</i>
            </button>
        </form>
    </div>
</div>

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });
    
    $('.timepicker').pickatime({
        default: 'now', // Set default time: 'now', '1:30AM', '16:30'
        fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
        // twelvehour: false, // Use AM/PM or 24-hour format
        donetext: 'OK', // text for done-button
        cleartext: 'Clear', // text for clear-button
        canceltext: 'Cancel', // Text for cancel-button
        autoclose: false, // automatic close timepicker
        ampmclickable: true, // make AM PM clickable
        aftershow: function(){} //Function for after opening timepicker
    });
</script>