<style>
.brand-logo svg {
  margin-top: 10px;
  height: 40px;
  fill: #ffffff;
}
</style>
<div class="deep-purple lighten-2">
	<div class="container">
		<div class="row">
		    <h1 class="white-text" style="padding-top: 100px"><b>Your Upcoming Rides</b></h1>
		    <div class="row">
		        {{#each rides}} 
		            {{> dash_ride_card this }} 
		        {{/each}}
		    </div>
		</div>
		<div class="row">
		    <h1><b>Past Rides</b></h1>
		    <div class="row">
		        {{#each rides}} 
		            {{> dash_ride_card this }} 
		        {{/each}} 
		    </div>
		</div>
	</div>
</div>