<div class="landing-container">
	<div class="landing-description">
		<div class="row">
			<div class="col m4">
				BPool is an app that allows UCLA students to efficiently coordinate car pool rides with each other.
			</div>
		</div>
	</div>
</div>