<div class="image1">
	<div class="outerbox">
		<div class="borderbox">
		<p class="textbox"> BPool is an app that allows UCLA students to efficiently coordinate car pool rides with each other. </p>
	</div>
	</div>
</div>
