
<br></br>
<div class="fbwrapper">
<script>
function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '133573890743952',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.11'
    });

    FB.AppEvents.logPageView();
    FB.getLoginStatus(function(response) {
  statusChangeCallback(response);
});

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function testAPI() {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) {
     console.log('Successful login for: ' + response.name);
     document.getElementById('status').innerHTML =
    'Thanks for logging in, ' + response.name + '!';
  });
}
</script>
<br></br>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fbbutton">
</fb:login-button>
<div id="status">
</div>
</div>
<!-- <div class="row">
<form class="col m6 offset-m3 l8 offset-l2" action="/login" method="post">
  <div class="row">
    <div class="input-field col s12">
      <input id="username" type="text">
      <label for="username" value={{username}}>Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password">
      <label for="password" value={{password}}>Password</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div> -->
