<style>
	a { color: inherit; }
</style>
<div class="ride-find form container">
    <div class="row">
    	<div class="valign-wrapper">
	    	<div class="col s12 m6 offset-m3 l8 offset-l2 center-align">
	    		<h2>Find a ride</h2>
				<h3>Currently we only support UCLA as an origin. Check back later for more locations!</h3>
	    	</div>
		</div>
		<form class="col s12 m6 offset-m3 l8 offset-l2" method="POST" action="/ride/find">

			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">person_pin</i>
					<select name="origin" id="origin">
						<option value="">Choose your origin</option>
						<option value="UCLA">UCLA</option>
						<option value="San Diego">San Diego</option>
						<option value="Santa Barbara">Santa Barbara</option>
						<option value="Irvine">Irvine</option>
						<option value="San Francisco">San Francisco</option>
						<option value="Riverside">Riverside</option>
						<option value="SLO">SLO</option>
					</select>
					<label for="origin">Origin</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field">
					<i class="material-icons prefix">pin_drop</i>
					<!-- <input type="text" class="validate" id="destination" name="destination"> -->
					<select name="destination" id="destination">
						<option value="">Choose your origin</option>
						<option value="UCLA">UCLA</option>
						<option value="San Diego">San Diego</option>
						<option value="Santa Barbara">Santa Barbara</option>
						<option value="Irvine">Irvine</option>
						<option value="San Francisco">San Francisco</option>
						<option value="Riverside">Riverside</option>
						<option value="SLO">SLO</option>
					</select>
					<label for="destination">Destination</label>
				</div>
			</div>

			<div class="row ">
				<div class="input-field">
					<i class="material-icons prefix">date_range</i>
					<input type="text" class="datepicker" id="date" name="date">
					<label for="date">Date</label>
				</div>
			</div>

			<button class="right button waves-effect waves-light btn-large deep-purple accent-2 white-text" type="submit" name="action">
				Find
				<i class="material-icons right">search</i>
			</button>
		</form>
	</div>
</div>


<script>
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false
    });

    $(document).ready(function() {
    	$('select').material_select();
  	});

</script>
