<div class="row ride">
    <div class="col s12 m8 map">

    </div>
    <div class="col s12 m4 details">
        <div class="card blue accent-1">
            <div class="card-content white-text rideLogistics">
                <span class="row rideDate">Wednesday, November 17th</span>
                <span class="row rideTime">1:00 PM</span>
                <span class="card-title">UCLA to Pasadena, CA</span>
                <span class="row with">with</span>
                <div class="row driverProfile">
                    <div class="col l2">Image</div>
                    <div class="col l10">
                        <span class="row driver">DriverName</span>
                        <span class="row carModel">Car Model</span>
                    </div>
                </div>
                <span class="rideRemainingSeats">1 seat available</span>
            </div>
            <div class="card-content white rideDescription">
                <p>Ride description goes here.</p>
            </div>
            <div class="card-action white">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons right">cancel</i>
                    Cancel
                </button>
                <button class="btn waves-effect waves-light" type="submit" name="action">Request
                    <i class="material-icons right">thumb_up</i>
                </button>
            </div>
        </div>
    </div>
</div>