/*GLOBAL STYLES*/
body {
  font-family: 'Fira Sans', monospace;
}

h3 {
  font-size: 24px;
}

.container {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
}

/*NAVIGATION*/
nav {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 5;
  box-shadow: none;
}

.nav-wrapper {
  padding: 10px 30px;
}

.brand-logo svg {
  margin-top: 10px;
  height: 40px;
  fill: #7c4dff;
}

#nav-mobile li a{
  border-radius: 20px;
}

/*LANDING PAGE*/
.landing {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  background-image: url("landing.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.landing-description {
  width: 40%;
  padding: 20px;
  font-size: 32px;
  display: table-cell;
  vertical-align: middle;
}

.landing-text h2,h3,a{
  font-weight: 800;
}


.landing-text h3 {
  margin-top: 50px;
}

/*FORM UI*/ 
.form h2,h3 {
  text-align: left;
  font-weight: bold;
}

.form button {
  font-weight: 800;  
}
