.container {
  padding-top: 100px;
}

.landing-container {

  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  background-image: url("landing.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;

}

.landing-description {
  width: 40%;
  padding: 20px;
  font-size: 32px;
  display: table-cell;
  vertical-align: middle;
}

.landing-text h2,h3,a{
  font-weight: 800;
}

.nav-wrapper {
  padding-top: 10px;
  padding-right: 30px;
}

.brand-logo svg {
  /* margin-left: 20px; */
  margin-top: 10px;
  height: 40px;
  fill: #7e57c2;
}

#nav-mobile li a{
  border-radius: 20px;
}

h3 {
  margin-top: 50px;
  font-size: 24px;
}

nav {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.8) !important;
  position: fixed;
  z-index: 5;
  box-shadow: none;
}

.button {
  color: #000000;
}

body {
  font-family: 'Fira Sans', monospace;
}