<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">BPool</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">About</a></li>
            <li><a href="/auth/facebook">Login</a></li>
        </ul>
    </div>
</nav>
